@import "../icon-button/icon-button";

.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 0.5rem;

  text-decoration: none;

  color: $primaryColor;

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
  }

  .dropdown-item-text {
    color: $blackColor;
  }

  &:hover {
    cursor: pointer;

    background-color: $lightGreyColor;
  }

  &:active {
    background-color: darken($lightGreyColor, 5);
  }
}
