@import "../icon-button/icon-button";

.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 0.5rem;

  text-decoration: none;

  color: $primary-color;

  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
  }

  .dropdown-item-text {
    color: $black-color;
  }

  &:hover {
    cursor: pointer;

    background-color: $light-grey-color;
  }

  &:active {
    background-color: darken($light-grey-color, 5);
  }
}
