extends ../../components/html/html.pug

block content
  form.login-form
      .login-form__card
        .login-form__header
          p #{header}
        .login-form__inputs-section
          each item in inputs
            span !{item}
        .login-form__buttons-section
          each item in buttons
            span !{item}
