include ../../components/button/button.pug
include ../../components/input/input.pug

-
  const data = {
    title: 'Регистрация',
    header: 'Вход',
    inputs: {
      login: {
        id: 'login', 
        label: 'Логин', 
        type: 'text', 
        error: 'Неверный логин',
      },
      password: {
        id: 'password', 
        label: 'Пароль',
        type: 'password',
      },
    },
    buttons: {
      logIn: {
        title: 'Авторизоваться', 
        style: 'primary',
        type: 'submit',
      },
      register: {
        title: 'Нет аккаунта?',
        style: 'secondary',
      },
    },
  };


doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{data.title}

    link(rel="stylesheet" href="style.scss")
    
  body
    form.login-form 
      .login-form__card
        .login-form__header
          p #{data.header}
        .login-form__inputs-section
          +input(data.inputs.login)
          +input(data.inputs.password)
        .login-form__buttons-section
          +button(data.buttons.logIn)
          +button(data.buttons.register)