.input-wrapper {
  position: relative;

  display: block;

  width: 28rem;
  margin-bottom: 0.25rem;

  input {
    display: block;

    width: 100%;
    padding: 1rem 0;

    border: none;
    border-bottom: 0.1rem solid $primary-color;

    font-size: 1.3rem;
  }

  label {
    display: block;

    padding: 0;

    color: $grey-color;

    font-size: 1.3rem;
  }

  &.has-error input {
    color: $error-color;
  }

  .error {
    display: none;

    color: $error-color;

    font-size: 0.9rem;
  }

  &.has-error .error {
    display: block;
  }
}
