extends ../../components/html/html.pug


block content
  - const inputsKeysArray = [emailInput, loginInput, firstNameInput, secondNameInput, phoneInput, passwordInput, passwordRepeatInput];
  - const buttonsKeysArray = [logInButton, registerButton];

  form.register-form
    .register-form__card
      .register-form__header
        p #{header}
      .register-form__inputs-section
        each item in inputsKeysArray
          li
            span !{item}
      .register-form__buttons-section
        each item in buttonsKeysArray
          li
            span !{item}
