@import "../../utils/mixins";
@import "../../utils/variables";
@import "../../components/button/button";
@import "../../components/input/input";

html {
  @include base-styles;
}

.register-form {
  display: flex;
  justify-content: center;

  .register-form__card {
    width: 34rem;
    height: 61.5rem;
    margin-top: 12rem;
    padding: 3rem;

    border: 0.1rem solid $shadowColor;
    border-radius: 1.2rem;
  }

  .register-form__header {
    margin: 5rem auto 4rem;

    text-align: center;

    font-size: 2rem;
  }

  .register-form__inputs-section {
    margin-bottom: 6rem;

    .input-wrapper {
      margin: 0 auto;
      margin-bottom: 1.5rem;
    }
  }

  .register-form__buttons-section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  li {
    padding: 0;

    list-style-type: none;
  }
}
