@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.btn-wrapper {
  button {
    display: block;

    width: 28rem;
    height: 3.7rem;
    padding: 1rem;

    text-align: center;
    text-decoration: none;

    border: none;
    border-radius: 0.8rem;

    font-size: 1.3rem;
    font-weight: bold;

    @include styleTypes;
  }
}
