@import '../icon-button/icon-button.scss';
@import '../menuItem/menuItem.scss';


.menu-wrapper {
  position: relative;
  display: inline-block;

  &:hover .dropdown-content {
    display: block;
  }

  ul.dropdown-content {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    border-radius: 0.5rem;

    li {
      list-style-type: none;
    }

    &.top-right {
      right: 0;
      top: 3rem;
    }

    &.top-left {
      right: 0;
      top: 3rem;
    }

    &.bottom-right {
      left: 0;
      bottom: 3rem;
    }

    &.bottom-left {
      right: 0;
      bottom: 3rem;
    }

    background-color: $whiteColor;
    box-shadow: 0 0.5rem 1rem 0.2rem $shadowColor;
    min-width: 20rem;
    z-index: 1;
  }
}
