include ../icon-button/icon-button.pug


mixin menu(props)
  .menu-wrapper
    +icon-button(props)
    ul.dropdown-content(class=props.position || 'top-right')
      each item in props.data 
        li(id=item.id)
          .icon-container
            +icon-button(item)
          p #{item.text}