include ../iconButton/iconButton.pug


mixin menu(props)
  .menu-wrapper
    +iconButton(props)
    ul.dropdown-content(class=props.position || 'top-right')
      each item in props.data 
        li(id=item.id)
          .icon-container
            +iconButton(item)
          p #{item.text}