extends ../../components/html/html.pug

block content
  .password-edit
    span !{goBackButtonPanel}
    .password-edit__content-section
      .password-edit__user-avatar-section
        span !{avatar}
      ul.password-edit__user-data
        each item in inputs
          li.password-edit__user-data-row
            span !{item}
      .password-edit__btn-section
        span !{button}
