form.password-edit
  | !{GoBackButtonPanel}
  .password-edit__content-section
    .password-edit__user-avatar-section
      | !{avatar}
    ul.password-edit__user-data
      each item in inputs
        li.password-edit__user-data-row
          | !{item}
    .password-edit__btn-section
      | !{button}
