@import "/src/utils/mixins.scss";
@import "/src/utils/variables.scss";
@import "../../components/avatar/avatar.scss";
@import "../../components/button/button.scss";
@import "../../components/input/input.scss";
@import "../../components/goBackButtonPanel/goBackButtonPanel.scss";

html {
  @include baseStyles; }

.password-edit__content-section {
  display: flex;
  align-items: center;
  flex-direction: column;

  .password-edit__user-avatar-section {
    margin: 6rem 0 4rem;

    text-align: center;
  }

  .password-edit__user-data {
    margin-bottom: 5rem;
    padding-left: 0;

    list-style-type: none;

    .input-wrapper {
      width: 51rem;
      margin: 1.5rem 0;
    }
  }

  .password-edit__btn-section {
    display: flex;
    justify-content: center;

    width: 51rem;
  }
}
