include ../../components/link/link.pug
include ../../components/avatar/avatar.pug
include ../../components/input/input.pug
include ../../components/button/button.pug
include ../../components/iconButton/iconButton.pug

-
  const data = {
    iconButton: {
      iconName: 'fa-arrow-circle-o-left', 
      href: '/chat', 
      style: 'primary',
    },
    avatar: {
      src:"../../../static/user.png", 
      title: 'Поменять аватар', 
      href: '#',
    },
    inputs: [
      {
        id: 'email', 
        label: 'Почта', 
      },
      {
        id: 'login', 
        label: 'Логин', 
      },
      {
        id: 'first_name', 
        label: 'Имя', 
      },
      {
        id: 'second_name', 
        label: 'Фамилия', 
      },
      {
        id: 'chatName', 
        label: 'Телефон', 
      },
      {
        id: 'phone', 
        label: 'Телефон', 
      },
    ],
    button: {
      title: 'Сохранить', 
      style: 'primary', 
      href: '../500/index.pug',
    },

  };

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document

    link(rel="stylesheet" href="style.scss")
  body  
    .profile-edit
      .profile-edit__go-back-btn-section
        +iconButton(data.iconButton)
      .profile-edit__content-section 
        .profile-edit__user-avatar-section
          +avatar(data.avatar)
        ul.profile-edit__user-data 
          each item in data.inputs
            li.profile-edit__user-data-row(class=item.id)
              +input(item)
        .profile-edit__btn-section 
          +button(data.button)