include ../../components/link/link.pug
include ../../components/avatar/avatar.pug
include ../../components/iconButton/iconButton.pug
include ../../components/dialog/dialog.pug
include ../../components/message/message.pug

-
  const data = {
    profileLink: {
      title: 'Профиль', 
      style: 'error', 
      href: '../profile/index.pug',
    },
    searchInput: {
      placeholder: 'Поиск',
      icon: '',
    },
    dialogs: [
      {
        name: 'Андрей',
        avatar: {
          src: '../../../static/user.png',
        },
        lastMessageTime: '10:49',
        currentUserMessage: false,
        amountOfUnreadMessages: 2,
        messagePreview: 'Изображение',
      },
      {
        name: 'Киноклуб',
        avatar: {
          src: '../../../static/user.png',
        },
        lastMessageTime: '12:00',
        currentUserMessage: true,
        isSelected: true,
        amountOfUnreadMessages: 0,
        messagePreview: 'стикер',
      },
      {
        name: 'Илья',
        avatar: {
          src: '../../../static/user.png',
        },
        lastMessageTime: '15:12',
        currentUserMessage: false,
        amountOfUnreadMessages: 4,
        messagePreview: 'Друзья, у меня для вас особенный выпуск новостей!...',
      },
    ],
    reviewingDialogUser: {
      avatar: {
        src: '../../../static/user.png',
      },
      name: 'Киноклуб',
    },
    messages: [
      {
        type: 0,
        time: '12:00',
        status: 0,
        text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat maiores totam ex?',
        currentUserMessage: false,
      },
      {
        type: 0,
        time: '12:00',
        status: 0,
        text: 'Lorem ipsum dolor, sit amet consectetur. Distinctio sed, esse cum libero obcaecati voluptate debitis.',
        currentUserMessage: false,
      },
      '19 июля',
      {
        type: 0,
        time: '12:00',
        status: 2,
        text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat maiores totam ex? Distinctio sed, esse cum libero obcaecati voluptate debitis.',
        currentUserMessage: true,
      },
      {
        type: 0,
        time: '12:00',
        status: 1,
        text: 'Lorem ipsum dolor',
        currentUserMessage: true,
      },
      {
        type: 0,
        time: '12:00',
        status: 0,
        text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat maiores totam ex? Distinctio sed, esse cum libero obcaecati voluptate debitis.',
        currentUserMessage: true,
      },
    ],
  };

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document

    link(rel="stylesheet" href="style.scss")
    link(rel="stylesheet" href="/static/css/font-awesome.min.css")
  body  
    .chat
      aside
        .chat__search-section
          .chat__profile-link
            +link(data.profileLink)
            i.icon.fa.fa-angle-right
          .chat_search-field
            input(type="search")
            .input-label
              i.icon.fa.fa-search
              p #{data.searchInput.placeholder} 
        .chat__dialogs-section
          each item in data.dialogs
            +dialog(item)

      .chat__content-section
        .chat__top-panel
          .chat__top-panel-user-avatar 
            +avatar(data.reviewingDialogUser.avatar)
            h1 #{data.reviewingDialogUser.name}
          .chat__top-panel-menu-icon 
            span.fa-stack
              i.fa.fa-circle-o.fa-stack-2x
              i.icon.fa.fa-ellipsis-v.fa-stack-1x



        .chat__messages-panel 
          each item in data.messages
            if(typeof item === 'string')
              .date-string
                p #{item}
            else  
              +message(item)

        