@import "/src/utils/mixins";
@import "/src/utils/variables";
@import "../../components/avatar/avatar";
@import "../../components/button/button";
@import "../../components/input/input";
@import "../../components/dialog/dialog";
@import "../../components/message/message";
@import "../../components/menu/menu";
@import "../../components/icon-button/icon-button";
@import "../../components/modal/modal";

.chat {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 5.5rem calc(100vh - 11rem) 5.5rem;
}

.chat__bottom-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0;

  border-top: 0.1rem solid $light-grey-color;
  background-color: $white-color;

  font-size: 1.3rem;
  grid-column: 2/3;
  grid-row: 3/4;

  .chat__bottom-panel-attach-menu-icon {
    margin: 0 1.5rem;

    .dropdown-button .icon {
      transform: rotate(-90deg);
    }
  }

  .chat__bottom-panel-message-field {
    width: 100%;
    margin: 0 1.5rem 0 0;

    .input-component-wrapper {
      width: 100%;

      .input-wrapper {
        width: 100%;
      }

      input {
        width: 100%;
        height: 3.2rem;
        padding: 0 1rem;

        color: $grey-accent-color;
        border: none;
        border-radius: 3rem;
        background-color: $light-grey-color;
      }
    }
  }

  .chat__bottom-panel-send-icon {
    margin: 0 1.5rem;

    .icon-button-container {
      i:last-child {
        color: $white-color;
      }
    }
  }
}

.chat aside {
  overflow: auto;

  border-right: 0.1rem solid $light-grey-color;

  background-color: $white-color;
  grid-column: 1/2;
  grid-row: 1/4;

  .chat__search-section {
    height: 10.3rem;

    border-bottom: 0.1rem solid $light-grey-color;

    .chat__profile-link {
      display: flex;
      align-content: center;
      justify-content: flex-end;

      margin-right: 1rem;
      padding-top: 1rem;

      .link {
        padding: 0;

        color: $grey-color;

        outline: none;
      }

      .icon {
        padding-left: 0.4rem;
      }
    }

    .chat_search-field {
      display: flex;
      align-items: center;
      justify-content: center;

      margin-top: 2rem;
      padding: 0 1.5rem;

      .input-label {
        position: absolute;

        display: flex;
        justify-content: center;

        color: $grey-color;

        font-size: 1.2rem;

        .input-label-placeholder {
          margin: 0;
        }

        .icon {
          margin-right: 0.5rem;
        }
      }

      .input-component-wrapper {
        width: 100%;

        .input-wrapper {
          width: 100%;
        }

        input {
          position: relative;

          width: 100%;
          height: 3.2rem;
          padding: 0 1rem;

          color: $grey-accent-color;
          border: none;
          border-radius: 0.5rem;
          background-color: $light-grey-color;

          &:focus + .input-label {
            display: none;
          }
        }
      }
    }
  }

  .chat__dialogs-section {
    .dialog:hover {
      cursor: pointer;
    }
  }
}

.chat__top-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 2rem;

  border-bottom: 0.1rem solid $light-grey-color;

  background-color: $white-color;
  grid-column: 2/3;
  grid-row: 1/2;

  .selected-dialog-meta {
    display: flex;
    align-items: center;

    .avatar-wrapper,
    .avatar-wrapper img,
    .avatar-wrapper .backdrop {
      width: 3.5rem;
      height: 3.5rem;
    }

    .selected-dialog-meta-user-name {
      margin-left: 1rem;

      font-size: 1.3rem;
    }
  }

  .chat__top-panel-menu-icon {
    font-size: 1.3rem;
  }
}

.chat__messages-panel {
  grid-column: 2/3;
  grid-row: 2/3;

  overflow-y: auto;

  .wrapper {
    position: relative;

    display: flex;
    flex-direction: column;

    .messages-panel-info-text {
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

      color: $grey-color;
    }

    .date-string-line {
      position: relative;

      margin: 2rem;

      color: $grey-color;
      border-top: 0.1rem solid $light-grey-color;

      .no-messages-text,
      .date-string-label {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
      }
    }

    .current-user-message {
      align-self: flex-end;
    }
  }
}

#media-upload-input,
#file-upload-input {
  display: none;
}

label[for="media-upload-input"],
label[for="file-upload-input"] {
  position: absolute;
  top: 50%;
  left: 9rem;

  display: block;

  color: $primary-color;

  font-size: 1.8rem;

  &:hover {
    cursor: pointer;
  }
}

.file-chosen {
  padding-top: 4rem;

  text-align: center;

  color: $grey-color;

  font-size: 1.2rem;
}
