@import '/src/utils/mixins.scss';
@import '/src/utils/variables.scss';
@import '../../components/avatar/avatar.scss';
@import '../../components/button/button.scss';
@import '../../components/input/input.scss';
@import '../../components/dialog/dialog.scss';
@import '../../components/message/message.scss';
@import '../../components/menu/menu.scss';
@import '../../components/icon-button/icon-button.scss';


html {
  @include baseStyles
}

.chat {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 5.5rem calc(100vh - 11rem) 5.5rem;
}

.chat aside {
  grid-column: 1/2;
  grid-row: 1/4;

  overflow: auto;

  background-color: $whiteColor;
  border-right: 0.1rem solid $lightGreyColor;

  .chat__search-section {
    height: 10.3rem;
    border-bottom: 0.1rem solid $lightGreyColor;

    .chat__profile-link {
      display: flex;
      justify-content: flex-end;
      margin-right: 1rem;
      padding-top: 1rem;

      .link {
        color: $greyColor;
        outline: none;
      }

      .icon {
        padding-left: 0.4rem;
      }
    }

    .chat_search-field {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      padding: 0 1.5rem;

      .input-component-wrapper {
        width: 100%;

        .input-wrapper {
          width: 100%;
        }

        input {
          position: relative;
          width: 100%;
          height: 3.2rem;
          border-radius: 0.5rem;
          background-color: $lightGreyColor;
          border: none;
          padding: 0 1rem;
          color: $greyAccentColor;

          &:focus + .input-label {
            display: none;
          }
        }
      }

      .input-label {
        font-size: 1.2rem;
        position: absolute;
        display: flex;
        justify-content: center;
        color: $greyColor;

        .input-label-placeholder {
          margin: 0;
        }
        .icon {
          margin-right: 0.5rem;
        }
      }
    }
  }

  .chat__dialogs-section {
    .dialog:hover {
      cursor: pointer;
    }
  }
}

.chat__top-panel {
  grid-column: 2/3;
  grid-row: 1/2;

  background-color: $whiteColor;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2rem;
  border-bottom: 0.1rem solid $lightGreyColor;

  .chat__top-panel-user-avatar {
    display: flex;
    align-items: center;

    .avatar-wrapper,
    .avatar-wrapper img,
    .avatar-wrapper .backdrop {
      width: 3.5rem;
      height: 3.5rem;
    }

    .chat__top-panel-user-name {
      font-size: 1.3rem;
      margin-left: 1rem;
    }
  }

  .chat__top-panel-menu-icon {
    font-size: 1.3rem;
  }
}

.chat__messages-panel {
  grid-column: 2/3;
  grid-row: 2/3;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;

  .messages-panel-info-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: $greyColor;
  }

  .date-string-line {
    margin: 2rem;
    position: relative;
    color: $greyColor;
    border-top: 0.1rem solid $lightGreyColor;

    .no-messages-text,
    .date-string-label {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .current-user-message {
    align-self: flex-end;
  }
}

.chat__bottom-panel {
  grid-column: 2/3;
  grid-row: 3/4;

  padding: 0;
  border-top: 0.1rem solid $lightGreyColor;
  background-color: $whiteColor;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.3rem;

  .chat__bottom-panel-attach-menu-icon {
    margin: 0 1.5rem;

    .dropdown-button .icon {
      transform: rotate(-90deg);
    }
  }

  .chat__bottom-panel-message-field {
    width: 100%;
    margin: 0 1.5rem 0 0;

    .input-component-wrapper {
      width: 100%;

      .input-wrapper {
        width: 100%;
      }

      input {
        width: 100%;
        padding: 0 1rem;
        height: 3.2rem;
        border-radius: 3rem;
        background-color: $lightGreyColor;
        border: none;
        color: $greyAccentColor;
      }
    }
  }

  .chat__bottom-panel-send-icon {
    margin: 0 1.5rem;

    .icon-button-container {
      i:last-child {
        color: $whiteColor;
      }
    }
  }
}
