include ../link/link.pug


mixin error(props)
  .error-wrapper
    h1 #{props.errorCode}
    p #{props.errorText}
    .link-wrapper
      +link({ title: 'Назад к чатам', href: props.href, style: 'primary' })