@import '../link/link.scss';


.error-wrapper {
  h1 {
    margin-top: 28rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 8rem;
  }

  p {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 7rem;
  }

  .link-wrapper {
    display: flex;
    justify-content: center;
  }
}