@import "/src/utils/mixins";
@import "/src/utils/variables";
@import "../../components/avatar/avatar";
@import "../../components/link/link";
@import "../../components/goBackButtonPanel/goBackButtonPanel";


.profile__content-section {
  display: flex;
  align-items: center;
  flex-direction: column;

  .profile__user-avatar-section {
    margin: 6rem 0 4rem;

    text-align: center;

    .profile__user-name {
      margin-top: 2rem;

      font-size: 1.6rem;
    }
  }

  .profile__user-data {
    width: 51rem;
    margin-bottom: 5rem;
    padding-left: 0;

    .profile__user-data-row {
      display: flex;
      justify-content: space-between;

      list-style-type: none;

      p {
        font-size: 1.3rem;

        &.value {
          color: $grey-color;
        }
      }

      &:not(:last-child) {
        border-bottom: 0.1rem solid $grey-color;
      }
    }
  }

  .profile__links-section {
    width: 51rem;

    font-size: 1.3rem;

    .btn-wrapper {
      padding: 1rem 0;
      border-bottom: 0.1rem solid $grey-color;
    }

    .btn-wrapper button {
      padding: 0;
      margin: 0;
      display: inline;
      width: auto;
      height: auto;

      &:hover {
        color: $error-color;
        text-decoration: underline;
        background-color: transparent;
      }
    }

    .link {
      display: block;

      padding-left: 0;

      &:not(:last-child) {
        border-bottom: 0.1rem solid $grey-color;
      }
    }
  }
}
