@import "/src/utils/mixins";
@import "/src/utils/variables";
@import "../../components/avatar/avatar";
@import "../../components/link/link";
@import "../../components/goBackButtonPanel/goBackButtonPanel";

html {
  @include base-styles;
}

.profile__content-section {
  display: flex;
  align-items: center;
  flex-direction: column;

  .profile__user-avatar-section {
    margin: 6rem 0 4rem;

    text-align: center;

    .profile__user-name {
      margin-top: 2rem;

      font-size: 1.6rem;
    }
  }

  .profile__user-data {
    width: 51rem;
    margin-bottom: 5rem;
    padding-left: 0;

    .profile__user-data-row {
      display: flex;
      justify-content: space-between;

      list-style-type: none;

      p {
        font-size: 1.3rem;

        &.value {
          color: $grey-color;
        }
      }

      &:not(:last-child) {
        border-bottom: 0.1rem solid $grey-color;
      }
    }
  }

  .profile__links-section {
    width: 51rem;

    font-size: 1.3rem;

    .link {
      display: block;

      padding-left: 0;

      &:not(:last-child) {
        border-bottom: 0.1rem solid $grey-color;
      }
    }
  }
}
