@import "../icon-button/icon-button.scss";

.go-back-button-panel {
  position: fixed;

  display: flex;

  overflow: auto;
  align-items: center;

  width: 5rem;
  height: 100%;
  margin: 0;
  padding: 0;

  border-right: 0.1rem solid $greyColor;

  background-color: $whiteColor;

  &:hover {
    cursor: pointer;

    background-color: $whiteAccentColor;
  }

  .icon-button-container {
    margin-left: 1rem;

    .inner {
      color: white;
    }
  }
}
