extends ../../components/html/html.pug

block data 
  - 
    const data = {
      errorCode: '500', 
      errorText: 'Мы уже фиксим', 
      href: '../login/index.pug',
    };

block includes
  include ../../components/error/error.pug

block content
  +error(data)
    