.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;

  background: rgba(0, 0, 0, 0.3);

  &.closed {
    display: none;
  }

  .modal {
    display: block;

    width: 35rem;
    height: 35rem;
    max-width: 100%;
    max-height: 100%;

    position: fixed;
    z-index: 100;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    background: white;
    box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.3);
    border-radius: 1.2rem;

    .close-button {
      position: absolute;
      z-index: 1;
      top: 1rem;
      right: 2rem;

      font-size: 2.4rem;
      line-height: 1;
      color: $blackColor;
      opacity: .5;
      border: 0;

      &:hover {
        opacity: .7;
        cursor: pointer;
      }
      &:active {
        opacity: .4;
      }
    }

    .modal-guts {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 70%;
      overflow: auto;
      margin-top: 5rem;
      padding: 0;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .modal-content {
        margin: 4rem 0;
      }

      .modal-action {
        margin-bottom: 1rem;
      }

      .modal-error {
        font-weight: bold;
        color: $errorColor;
      }
    }
  }
}
