@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.icon-button-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 3rem;
  height: 3rem;

  border: none;

  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }

  @include styleTypes;
}
