@mixin styleTypes {
  &:hover {
    cursor: pointer;
  }

  &.primary {
    color: $whiteColor;
    background-color: $primaryColor;

    &:hover {
      background-color: lighten($primaryAccentColor, 10);
    }

    &:active {
      background-color: $primaryAccentColor;
    }

    &:visited {
      color: $whiteColor;
    }
  }

  &.secondary {
    color: $primaryColor;
    background-color: $whiteColor;

    &:hover {
      background-color: darken($whiteAccentColor, 10);
    }

    &:active {
      background-color: darken($whiteAccentColor, 20);
    }

    &:visited {
      color: $primaryColor;
    }
  }

  &.error {
    color: $errorColor;
    background-color: $whiteColor;

    &:hover {
      color: $whiteColor;
      background-color: lighten($errorAccentColor, 10);
    }

    &:active {
      color: $whiteColor;
      background-color: $errorAccentColor;
    }

    &:visited {
      color: $errorColor;
    }
  }

  &.neutral {
    color: $greyColor;
    background-color: $whiteColor;

    &:hover {
      color: $whiteColor;
      background-color: lighten($greyAccentColor, 10);
    }

    &:active {
      color: $whiteColor;
      background-color: $greyAccentColor;
    }

    &:visited {
      color: $greyColor;
    }
  }
}

@mixin baseStyles {
  box-sizing: border-box;

  font-family: sans-serif;
  font-size: 10px;

  body {
    margin: 0;
  }
}
