@mixin style-types {
  &:hover {
    cursor: pointer;
  }

  &.primary {
    color: $white-color;
    background-color: $primary-color;

    &:hover {
      background-color: lighten($primary-accent-color, 10);
    }

    &:active {
      background-color: $primary-accent-color;
    }

    &:visited {
      color: $white-color;
    }
  }

  &.secondary {
    color: $primary-color;
    background-color: $white-color;

    &:hover {
      background-color: darken($white-accent-color, 10);
    }

    &:active {
      background-color: darken($white-accent-color, 20);
    }

    &:visited {
      color: $primary-color;
    }
  }

  &.error {
    color: $error-color;
    background-color: $white-color;

    &:hover {
      color: $white-color;
      background-color: lighten($error-accent-color, 10);
    }

    &:active {
      color: $white-color;
      background-color: $error-accent-color;
    }

    &:visited {
      color: $error-color;
    }
  }

  &.neutral {
    color: $grey-color;
    background-color: $white-color;

    &:hover {
      color: $white-color;
      background-color: lighten($grey-accent-color, 10);
    }

    &:active {
      color: $white-color;
      background-color: $grey-accent-color;
    }

    &:visited {
      color: $grey-color;
    }
  }
}

@mixin base-styles {
  box-sizing: border-box;

  font-family: sans-serif;
  font-size: 10px;

  body {
    margin: 0;
  }
}
