$primary-color: #3369f3;
$primary-accent-color: darken($primary-color, 5);
$primary-light-color: #e4edfd;
$error-color: #ff2f2f;
$error-accent-color: darken($error-color, 5);
$white-color: #fff;
$white-accent-color: darken($white-color, 5);
$grey-color: #999;
$light-grey-color: #eaeaea;
$grey-accent-color: darken($grey-color, 5);
$shadow-color: #e5e5e5;
$black-color: #000;
