$primaryColor: #3369f3;
$primaryAccentColor: darken($primaryColor, 5);
$primaryLightColor: #e4edfd;
$errorColor: #ff2f2f;
$errorAccentColor: darken($errorColor, 5);
$whiteColor: #fff;
$whiteAccentColor: darken($whiteColor, 5);
$greyColor: #999;
$lightGreyColor: #eaeaea;
$greyAccentColor: darken($greyColor, 5);
$shadowColor: #e5e5e5;
$blackColor: #000;
