$primaryColor: #3369f3;
$primaryAccentColor: darken($primaryColor, 5);

$errorColor: #FF2F2F;
$errorAccentColor: darken($errorColor, 5);

$whiteColor: #fff;
$whiteAccentColor: darken($whiteColor, 5);

$greyColor: #999;
$lightGreyColor: #eaeaea;
$greyAccentColor: darken($greyColor, 5);



$shadowColor: #E5E5E5;
$blackColor: #000;
