@import "../avatar/avatar";

html {
  @include base-styles;
}

.dialog {
  display: flex;

  padding: 1rem;

  border-bottom: 0.1rem solid $light-grey-color;

  &:hover {
    background-color: $light-grey-color;
  }

  &.--is-selected {
    background-color: $primary-light-color;
  }

  .avatar-wrapper,
  .avatar-wrapper img,
  .avatar-wrapper .backdrop {
    width: 5rem;
    height: 5rem;
  }

  .dialog__message-section {
    flex-grow: 3;

    margin-left: 1rem;

    .dialog__message-author-name {
      margin-top: 0;

      font-size: 1.3rem;
      font-weight: bold;
    }

    .dialog__message-preview,
    .dialog__current-user-message-label {
      display: inline;

      color: $grey-color;

      font-size: 1.2rem;

      &.dialog__current-user-message-label {
        color: $black-color;

        font-weight: bold;
      }
    }
  }

  .dialog__meta-data-section {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;

    padding-left: 2rem;

    .dialog__message-time {
      margin-top: 0;

      color: $grey-color;
    }

    .dialog__messages_amount {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 2rem;
      height: 2rem;

      border-radius: 50%;
      background-color: $primary-color;

      p {
        margin: 0;

        color: white;
      }
    }
  }
}
