@import '../avatar/avatar.scss';


html {
  @include baseStyles
}

.dialog {
  display: flex;

  border-bottom: 0.1rem solid $lightGreyColor;
  padding: 1rem;

  &:hover {
    background-color: $lightGreyColor;
  }

  &.--is-selected {
    background-color: $primaryLightColor;
  }

  .avatar-wrapper,
  .avatar-wrapper img,
  .avatar-wrapper .backdrop {
    width: 5rem;
    height: 5rem;
  }

  .dialog__message-section {
    flex-grow: 3;
    margin-left: 1rem;

    h2 {
      margin-top: 0;
      font-weight: bold;
      font-size: 1.3rem;
    }

    p {
      font-size: 1.2rem;

      &.dialog__current-user-message-label {
        font-weight: bold;
        color: $blackColor;
      }

      color: $greyColor;
      display: inline;
    }
  }

  .dialog__meta-data-section {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    .dialog__message-time {
      margin-top: 0;
      color: $greyColor;
    }

    .dialog__messages_amount {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      background-color: $primaryColor;
      border-radius: 50%;

      p {
        margin: 0;
        color: white;
      }
    }
  }
}