extends ../../components/html/html.pug

block includes
  include ../../components/error/error.pug

block data
  - 
    const data = {
      errorCode: '404', 
      errorText: 'Не туда попали', 
      href: '../login/index.pug',
    };

block content
  +error(data)
