mixin avatar(props)
  .avatar-wrapper(class=avatar)
    img(src=props.src)
    if(props.withUpload === true)
      .backdrop-container 
        label(for="upload").backdrop 
          .title #{props.title}
          input(id="upload" type="file")