@import "../../utils/variables";
@import "../../utils/mixins";

.avatar-wrapper {
  position: relative;

  width: 13rem;

  img,
  .backdrop {
    display: block;

    width: 13rem;
    height: 13rem;
    margin: 0;

    border-radius: 50%;
  }

  .backdrop-container {
    position: absolute;
    top: 0;
    left: 0;

    .backdrop {
      opacity: 0;
      background-color: #00000020;
    }

    input {
      display: none;
    }

    &:hover .backdrop {
      cursor: pointer;

      opacity: 1;
    }

    .title {
      position: absolute;
      top: 50%;
      left: 50%;

      display: none;

      transform: translate(-50%, -50%);
      text-align: center;

      color: $white-color;

      font-size: 1.3rem;
      font-weight: bold;
    }

    &:hover .title {
      display: block;
    }
  }
}
