doctype html
html(lang="en")
  head
    script(src='index.ts' type="module")
  body

    h3
      a(href='./pages/404/index.pug') 404
    h3
      a(href='./pages/500/index.pug') 500
    h3
      a(href='./pages/chat/index.pug') чат
    h3
      a(href='./pages/login/index.pug') форма логина
    h3
      a(href='./pages/register/index.pug') форма регистрации
    h3
      a(href='./pages/profile/index.pug') профиль
    h3
      a(href='./pages/profile-edit/index.pug') редактирование данных
    h3
      a(href='./pages/password-edit/index.pug') изменение пароля