doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="style.scss")
  body
    .root
      include components/button/button.pug
      include components/input/input.pug
      include components/avatar/avatar.pug
      include components/link/link.pug


      +button({ title: 'Авторизоваться', style: 'primary' })
      +button({ title: 'Авторизоваться', style: 'secondary' })

      
      div
        +input({ id: 'login', label: 'Логин', error: 'ошибка' })
      div
        +input({ id: 'login', label: 'Логин', error: 'ошибка' })
      div
        +input({ id: 'login', label: 'Логин' })
      
      div 
        +avatar({ src:"../static/user.png", title: 'Поменять аватар' })
      div 
        +avatar({ src:"../static/user.png", title: 'Поменять аватар'  })
      div 
        +avatar({ src:"../static/user.png", title: 'Поменять аватар', href: '/about'  })

      +link({ title: 'allo', href: '/allo/1', style: 'primary' })
      +link({ title: 'allo', href: '/allo/2', style: 'secondary' })
      +link({ title: 'allo', href: '/allo/3', style: 'error' })
      +link({ title: 'allo', href: '/allo/3', style: 'neutral' })