include components/button/button.pug
include components/input/input.pug
include components/avatar/avatar.pug
include components/link/link.pug 


doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="style.scss")
    link(rel="stylesheet" href="../static/css/font-awesome.min.css")
  body

    div
      a(href='./pages/404/index.pug') 404
    div
      a(href='./pages/500/index.pug') 500
    div
      a(href='./pages/chat/index.pug') чат
    div
      a(href='./pages/login/index.pug') форма логина
    div
      a(href='./pages/register/index.pug') форма регистрации
    div
      a(href='./pages/profile/index.pug') профиль
    div
      a(href='./pages/profile_edit/index.pug') редактирование данных
    div
      a(href='./pages/password_edit/index.pug') изменение пароля