include components/button/button.pug
include components/input/input.pug
include components/avatar/avatar.pug
include components/link/link.pug 


doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="style.scss")
    link(rel="stylesheet" href="../static/css/font-awesome.min.css")
  body

      +button({ title: 'Авторизоваться', style: 'primary' })
      +button({ title: 'Авторизоваться', style: 'secondary' })
      +button({ title: 'Авторизоваться', style: 'error' })
      +button({ title: 'Авторизоваться', style: 'neutral' })

      
      div
        +input({ id: 'login', label: 'Логин', type: 'text', error: 'ошибка' })
      div
        +input({ id: 'login', label: 'Логин', type: 'password', error: 'ошибка' })
      div
        +input({ id: 'login', label: 'Логин' })
      
      div 
        +avatar({ src:"../static/user.png", title: 'Поменять аватар' })
      div 
        +avatar({ src:"../static/user.png", title: 'Поменять аватар'  })
      div 
        +avatar({ src:"../static/user.png", title: 'Поменять аватар', href: '/about'  })