a.icon-button-wrapper {
  display: block;
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  margin: 0;
  padding: 0;

  i {
    font-size: 3rem;
    @include styleTypes;
  }
}