@import "../../utils/variables";
@import "../../utils/mixins";

a.link {
  padding: 1rem 2rem;

  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.primary {
    color: $primary-color;
  }

  &.error {
    color: $error-color;
  }
}
