@import "../../utils/variables";
@import "../../utils/mixins";

html {
  @include base-styles;
}

.message-wrapper {
  min-width: 30rem;
  max-width: 60rem;
  margin: 1rem;
  padding: 1rem;

  border-radius: 1rem;
  border-top-left-radius: 0;

  background-color: $light-grey-color;

  .message-time {
    margin-left: 0.5rem;

    text-align: right;

    color: $grey-color;
  }

  &.current-user-message {
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 0;
    background-color: $primary-light-color;

    .message-time {
      color: $primary-color;
    }

    .icon {
      color: $primary-color;
    }
  }

  .message-text {
    font-size: 1.2rem;
  }

  .metadata {
    display: flex;
    justify-content: flex-end;
  }
}
